<div class="bg-slate-50 min-h-screen flex flex-col gap-[15px] w-[600px]">
  <section class="flex justify-center items-center mt-[40px] relative h-[200px] w-auto ">
    <%= image_tag "top-logo.png", alt: "ちょこっと♪ もふたいむ トップロゴ", class: "w-[450px]" %>
  </section>

  <section class="flex justify-center items-center relative h-[300px] w-auto ">
    <%= image_tag "top-pic.png", alt: "ちょこっと♪ もふたいむ トップイラスト", class: "w-[450px]" %>
  </section>

  <section class="flex justify-center items-center mt-[15px] relative">
    <%= link_to main_path,
      aria:  { label: "はじめる（メインページへ）" },
      class: "group
              flex h-10 items-center justify-center
              rounded-md
              border border-amber-300 border-[2px]
              bg-gradient-to-b from-amber-100 via-amber-100 to-amber-100
              px-4
              text-amber-700 font-medium
              hover:bg-gradient-to-b hover:from-amber-200 hover:via-amber-200 hover:to-amber-200
              active:shadow-inner" do %>
      <span class="block group-active:[transform:translate3d(0,1px,0)]">
        はじめる
      </span>
    <% end %>
  </section>

  <section class="flex justify-center items-center text-amber/700 text-sm">
    © <%= Time.current.year %> ChokoMofu Project
  </section>

  <section aria-hidden="true" class="h-[56px]"></section>
</div>
