<div class="bg-slate-50 min-h-screen flex flex-col gap-[15px] w-[600px]">
  <section class="flex justify-center items-center relative w-auto ">
    <%= image_tag "play-bg.png", alt: "ちょこっと♪ もふたいむ /play 背景" %>
  </section>



</div>