<footer class="flex items-center bottom-0 bg-white/80 text-left h-[35px] w-[600px]">
  <p class="text-xs text-slate-600 -translate-x-[-30px]">© <%= Time.current.year %> ChokoMofu Project</p>
</footer>
